@import '~bootstrap/scss/bootstrap';
@import './css-variables';

body {
  background-color: $pink-purple;
  font-family: 'Sigmar One', cursive;
  text-align: center;
}

.title {
  font-size: 100px;
  height: 130px;
}

.board {
  display: none;
  margin: auto;
  width: 90%;
}

button {
  background-color: $pink-purple;
  border-radius: 6px;
  color: $white;
  display: inline-block;
  margin: 10px;
  outline: none;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    background-color: $pink;
    border-radius: 6px;
    color: $purple;
    text-transform: uppercase;
  }
}

.cell {
  background-color: $gameboard-purple-blue;
  border: solid $black 3px;
  border-radius: 10px;
  font-size: 80px;
  height: 140px;
  text-align: center;
  &:hover {
    background-color: $purple;
  }
}

.column {
  color: $orange;
  padding: 5px;
}

.header {
  font-size: 36px;
  padding: 5px;
}

.panel {
  background-color: $light-purple;
  padding: 10px;
}

.row {
  color: $orange;
}

.change-password {
  display: none;
}

.sign-up-start {
  display: none;
}

.sign-in-start {
  display: none;
}

.change-password-title {
  display: none;
}

.change-password-start-button {
  display: none;
}

.change-password-start {
  display: none;
}

.sign-out {
  display: none;
}

.new-game {
  display: none;
}

#new-game {
  display: none;
}

#messageBox {
  background-color: $pink;
  border-radius: 6px;
  font-size: 20px;
  margin: 5px;
}

.player-stats {
  display: none;
  text-align: center;
}

#total-games-number {
  color: $orange;
  // display: none;
  font-size: 80px;
  text-align: center;
}
